.header{
    background: #04373A;
}
.admin-name{
    color:#ffffff;
    margin-right: 10px;
}
.admin-email{
    color:#FFFFFF;
}
.project-icon{
    margin-top: 10px;
    margin-left: 20px;
    color: #fffafa; 
}